/* your styles go here */


@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Dosis');


.sidebar-heading a {
	color: #f4cd41; /* dark yellow */
	font-size: 44px;
	font-family: 'Comfortaa'
}

.sidebar-heading a:hover{
	color: #d6b439; /* darker yellow */
}

.sidebar-p {
	color: #474642;
	font-family: 'Quicksand';
	font-size: 20px;
}

sidebar-menu {
    font-family: 'Comfortaa';
}

.row-offcanvas-left {
	background-color: #f4f4f4;
}

.box-masonry {
    border: 1px #bcbcbc solid;
}

.box-masonry-text {
	background-color: #f2f2ef;
	border-top: 1px #bcbcbc solid;
}

h4 a {
	color: #d6b439;
	font-family: 'Dosis'
}

h4 a:hover {
	background-color: #ffbfff;
	font-size: 18px
}

.box-masonry-description p {
	font-family: 'Raleway'
}


.white-background , .white-background .row , .content-column-content {
	background-color: #f4f4f4
}

.white-background {
	background-color: #f4f4f4
}

.content-column.white-background {
    background-color: #f4f4f4
}

h1 {
	color: #595c60;
	font-size: 38px;
	font-family: 'Oswald';
}

.content-column-content h1 {
	font-family: 'Raleway';
	color: #595c60;
}

.content-column-content h1+ p , h4 {
	font-family: 'Raleway';
	color: #595c60;
	font-size: 18px
}


.content-column-content-cv h1 {
	font-family: 'Raleway';
	color: #595c60;
}

.content-column-content-cv h2  {
	font-family: 'Raleway';
	color: #595c60;
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 22px;
}

.content-column-content-cv h4  {
	font-family: 'Raleway';
	color: #595c60;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 16px;
}

.content-column-content-cv p  {
    padding: 0px;
    margin: 0 0;

}

.date {
   font-size: 16px;
   color: #f4cd41;
}

.exinfo {
   font-size: 12px;
   color: #595c60;
}

.social--big a {
	color: #931eaa
}

a, a:visited, a:active {
  text-decoration: none;
  border-bottom: 1px #bcbcbc solid;
}

a:hover {
  text-decoration: underline;
  border: none;
}